
body#bgPhoto {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

div#message {
	position: absolute;
	font-size: 1.5cm;
	padding: 1.5cm;
	text-shadow: 4px 4px 8px #888;
}
